.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    border: black solid 1px;
    height: 40px;
    * {
        margin: 5px;
    }
    
    &__title {
        font-size: 20px;
        font-weight: normal;

    }
}