.header {
    display:flex;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    align-items: center;

    * {
        margin: 10px;
    }

    &__heading {
        font-size: 40x;
    }

    &__button {
        font-size: 20px;
        background-color: white;
        border-radius: 10px;
    }
}