.new-task {
    border: 1px solid black;
    width: 85%;
    border-radius: 15px;

    &__input {
        width: 80%;
        border: none;
        font-size: 20px;
    }

    &__label {
        display: none;
    }
    
    &__button {
        border-radius: 15px;
        font-size: 18px;
        font-weight: bold;
    }
}